body, #header {
  background-color: #f8f8ff !important;
}
h3 {
  padding-top: 10px;
}
span {
  margin-top: 15px;
  display: flex;
}
#header {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index:1;
  border-bottom: 1px solid #d4d4ff;
}
#header-img {
  width: 5vw;
  height: auto;
  margin: .5em 1em;
}
#about {
  max-width: 50vw;
}
#packages {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#contact {
  display: flex;
}
.contact-box {
  width: 25vw;
  margin: 5vh 15vw;
}
.container {
  width: 85vw;
  margin-top: 15vh !important;
  background-color: #eee;
  border: 1px solid rgba(68, 68, 68, .5);
  border-radius: 5px;
  box-shadow: 2px 3px 2px rgba(68, 68, 68, .5);
}
img:hover {
  opacity: .75;
}
span {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c0/Moon_0063_Nevit.svg');
  padding-left: 125px;
}
li {
  margin: 0 45px;
}
nav {
  margin: 0 auto;
  padding-top: 30px;
}
@media(max-width: 1440px) {
  .container {
    margin-top: 10vh;
  }
}