@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
body {
  font-family: Lato ;
}
h1 {
  font-size: 8em !important;
}
h2 {
  font-size: 3.5em !important;
}
li {
  margin-top: 2vh;
  display: inline-block;
  padding: 0 10vw;
}
.container {
  margin-top: 10vh;
  height: auto;
}
.pt-3 {
  padding-top: 50vh !important;
}
#welcome-section {
  font-family: Raleway;
  background-color: rgb(200, 255, 255);
  height: 100vh;
}
#navbar {
  text-align: center;
  background-color:#ffffff;
  position: fixed;
  top: 0;
  width: 100vw;
}
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.card > img {
  width: 15vw;

}